{% extends "base.html" %}
{% block title %} Teste {% endblock %}
{% block content %}

<!-- |-----------------------------------------| Mensagens flash |-----------------------------------------| -->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismis="alert" aria-label="fechar"></button>
</div>
{% endfor %}


<!-- |-----------------------------------------| Barra dos dias |-----------------------------------------| -->
<ul class="pagination justify-content-center">
    {% for date in dates %}
    {% if date == data %}
    <li class="page-item container-fluid px-0 active"><a class="page-link"
            href="{{url_for('sumula_do_dia', data=date)}}">{{date.strftime('%d/%m')}}</a></li>
    {% else %}
    <li class="page-item container-fluid px-0"><a class="page-link" href="./{{date}}">{{date.strftime('%d/%m')}}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>


<!-- |-----------------------------------------| Imagem + descrição |-----------------------------------------| -->
<img src="../static/images/banner.jpg" class="img-fluid">
<p class="text-muted text-center">Secretaria da Diretoria e do Conselho Monetário Nacional – Sucon</p>
<p class="text-center font-weight-bold h4">Publicações de {{data.strftime('%d-%m-%Y')}} |
    Edição XXX</p>


<!-- |-----------------------------------------| Table |-----------------------------------------| -->

{% for escopo, pubs in subjects.items() %}
<table class="table table-hover align-middle">
    <thead>
        <tr>
            {% if data.day == 21 %}
            <th class="h5" style="width: 20%;">{{escopo}}</th>
            <th style="width: 50%;"></th>
            <th style="width: 30;"></th>
            {% else %}
            <th class="h5 col-5"></th>
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody">
        {% for pub in pubs %}
        <tr>
            <th class="py-4 px-3 border-0 border-end">
                <a href={{pub.pdf}}> {{pub.titulo}} </a>
            </th>
            <td class="py-4 px-3 border-0 border-end">{{pub.ementa}}</td>
            {% if data.day == 21 %}
            <td class="py-4 px-3 border-0 text-end">{{pub.motivo}}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
</table>
{% endfor %}



<!-- |-----------------------------------------| Comentários |-----------------------------------------| -->
<div style="height: 30px;"></div>
<h1>Comentários</h1>

{% for comentario in comentarios %}

<div class="card m-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>{{comentario.created_at}}</div>
        <a href="{{url_for('deletar_comentario', data_sumula=data, uid=comentario.uid)}}"
            class="btn btn-outline-danger btm-sm">Deletar</a>
    </div>
    <div class="card-body", style="white-space: pre-wrap;">{{comentario.conteudo}}</div>
</div>

{% endfor %}

<!-- |-----------------------------------------| Novo comentário |-----------------------------------------| -->

<div class="shadows py-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{form.conteudo(class="form-control", rows="5", placeholder="Novo comentário")}}
        <br />

        {{form.created_at}}

        {{form.submit(class="btn btn-secondary")}}
    </form>
</div>

{% endblock %}